php_value date.timezone 'country/state'

ErrorDocument 403 <base-url>/template/error_pages/403.php
ErrorDocument 404 <base-url>/template/error_pages/404.php
ErrorDocument 500 <base-url>/template/error_pages/500.php